body>section, header, footer {
    border:1px solid black;
    box-sizing: border-box;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fly{
    width: 35%;
    float: left;
    height: 230px;
}

.longer {
    width: 65%
}

.ends {
    height:110px;
    clear:left;
}

.lone{
    height: 160px;
}