body>header, footer, section{
    border: 1px solid black;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
}

section {
    float:left;
    width:33.33%;
    height:315px;
}

header, footer {
    clear: both;
    height: 140px;
}

@media (max-width:1100px) {
    section {
        background: blue; 
        border:1px dashed red;
    }
    .mid {
        display: hidden;
    }
}

@media (max-width:800px) {
    .ends {
        background: yellowgreen; 
    }
}