body>header, section, footer{
    border: 1px solid grey;
    box-sizing: border-box;
    background: rgb(247, 241, 241);
    width:100%;
    height:100%;
}

.centerish{
    clear: left;
}

.left{
    float: left;
    width:20%
}

.right{
    float: right;
    width: 20%;
}


header, footer {
    clear:both;
}