h1{
    color: blue;
    text-decoration: underline;
    background: gold;
}

h2{
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border-color: orange;
}

p{
    width: 50%;
    height: 200px;
    background-color: grey;
    border: black;
    color: white;
}

h3{
    background-color: black;
    border-color: lightgreen;
    font-family: "Roboto";
    font-size: 20px;
    color: white;
}
